form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
  input{
    padding: 5px 10px;
    border-radius: 5px;
  }
  button{
    padding: 5px 10px;
    width: 50%;
    align-self: center;
    background-color: blue;
    color: aliceblue;
    border-radius: 5px;
    border: none;
  }
}

input:focus{
  outline: none;
}
button:hover{
  cursor: pointer;
}